/* Global styles */
html{
  background-color: #fec3c3b3;
  filter:blur(50%);
}

* {
   
  box-sizing: border-box;
  text-align: center;
  border-radius: 15px;
  margin-top: 0px;
  margin-bottom: 50px;

  
  
  
}

button{
  background-color: #ffffff39;
  box-shadow: #e1e3e5;
  
  border-top-color: #e1e3e5;
 
}
 
 
.night-mode {
    border-style: ridge;
    background-color: rgba(5, 15, 90, 0.873);
    color: #1d1b1ba6;
    /* add any additional styles for night mode here */
   
  }
  

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
    outline-style: groove;
    border-style: double;
  }
  
  section {
    
    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    
    
    
  }
  
  
  
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
  
}



p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
}

a {
  color: #337ab7;
  text-decoration: none;
}

#intro{
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  
  width: 100%;
  padding: 4rem 1rem;
  background-color: rgba(167, 9, 253, 0.272);
  color: rgb(255, 255, 255);
  border-width: 100%;
  border-style: dotted;
  filter: drop-shadow(0 0 10px rgb(0, 0, 0));

  
  animation: FadeIn 3s ease-in-out forwards;
}

@keyframes FadeIn {
  0%   { opacity: 0%; }
  100% { opacity: 100%; }
    
    
}
/* code above uses to fade blocks in and out : ( animation: FadeIn 3s ease-in-out forwards;
} 

@keyframes FadeIn {
  0%   { opacity: 0%; }
  100% { opacity: 50%; }
 ) */



#intro img {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    width: 30%;
    align-content: center;
    /* adjust as needed */
    height: 150%;
    
    
    
    border-radius: 100%;
    
    
    padding: 0.5rem;
    animation: FadeIn 5s ease-in-out forwards;
}

@keyframes FadeIn {
  0%   { opacity: 0%; }
  100% { opacity: 100%; }
    
    
  }

  /*typo Effect inside of H1 in intro Hi */


  #intro  {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.1em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret 1s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 30% }
    to { width: 100% }
  }
  
  /* The typewriter cursor blinking effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  



  .typing-heading {
    overflow: hidden;
    border-right: none;
    white-space: nowrap;
    animation: typing 0.7s steps(10, end) forwards;
  }
  
  @keyframes typing {
    from {
      width: 50%;
    }
    to {
      width: 100%;
    }
  }

  
  .typewriter-p {
    
    display: inline-block;
    border-right: 0.1em solid #333;
    padding-right: 5px;
    animation: typing 3.5s steps(40, end), blink-caret 1s step-end infinite;
}
@keyframes typing-p {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/*background*/

#work-experience  {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    color: black;
    background-color: rgb(251, 255, 8);
    border-width: 100%;
    border-style: dotted;
    border-radius: 15% 0% 15% 0%;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
    padding: 2rem 1rem;
    animation: FadeIn 2.5s ease-in-out forwards;

}

#work-experience:hover {
  transform: scale(1.05);
  filter: brightness(120%);
}


@keyframes FadeIn {
  0%   { opacity: 0%; }
  100% { opacity: 100%; }
    
    
}


#education.img-container{

  justify-content: center;

}





#education{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding: 1rem 1rem;
    
    border-style: dotted;
    background-color: rgba(44, 35, 175, 0.567);
    color: #e1e3e5;
   
    border-radius: 0% 15% 0% 15%;
    animation: FadeIn 2.5s ease-in-out forwards;
}

#education:hover {
  transform: scale(1.05);
  filter: brightness(120%);
}

@keyframes FadeIn {
  0%   { opacity: 0%; }
  100% { opacity: 100%; }
    
    
}
    
  

#skills {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: rgb(151, 21, 198);
    color: aliceblue;;
    border-style: dotted;
    padding: 2rem 1rem;
    border-radius: 15% 0% 15% 0%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.668));
    
    
    animation: FadeIn 2.5s ease-in-out forwards;
}

#skills:hover {
  transform: scale(1.05);
  filter: brightness(120%);
}


@keyframes FadeIn {
  0%   { opacity: 0%; }
  100% { opacity: 100%; }
    
    
}






#contact {
  
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: rgba(254, 77, 142, 0.729);
    
    border-radius: 0% 15% 0% 15%;
  padding: 2rem 1rem;animation: FadeIn 2.5s ease-in-out forwards;
}
#contact:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: scale(1.05);
  filter: brightness(120%);
}

#contact:hover {
  transform: scale(1.05);
  filter: brightness(120%);
  shape-outside: margin-box;
  background-color: rgba(243, 12, 8, 0.271);
}


@keyframes FadeIn {
  0%   { opacity: 0%; }
  100% { opacity: 100%; }
    
    

  
  
}

#work-experience li,
#education li,
#skills li {
  margin-bottom: 1rem;
  
}

#work-experience h3,
#education h3 {
  margin-bottom: 0.5rem;
  
}

.sub-details {
  font-size: 0.8rem;
  color: #666;
  
}

.duration {
  margin-right: 1rem;
  
}

.location::before {
  content: "\2022";
  margin-right: 0.5rem;
}

/* Media queries for responsive typography */
@media screen and (max-width: 767px) {
    body {
      font-size: 16px; /* Adjust as needed */
    }
  }
  /*
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    body {

    }
  }
      font-size: 18px; /* Adjust as needed */
  
  
  /*
  
  @media screen and (min-width: 1024px) {
    body {
      font-size: 20px; /* Adjust as needed 
    }
  }
*/
  @media only screen and (max-device-width: 428px) {
    /* CSS rules specific to iPhone 12 Pro Max */
  }
  
#fade-container {
    opacity: 50%;
}
#fade-container {
    transition: opacity 5s ease-in-out;
    
}

.popup {
  
  align-items: center;
  display: none;
  position:grid;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
  padding: 0px;
  box-sizing: border-box;
}




.popup p {
  color: white;
  
}

.close-button {
  box-shadow: rgba(255, 255, 255, 0.511) 0px 22px 70px 4px;
  color: rgb(241, 235, 235);
  border: none;
  margin-left: 30%;
  margin-bottom:100%;
  width: 40%;
  border-radius: 1%;
  border-bottom-style: groove;
}

.icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.icon-button img {
  width: 100%;
  height: auto;


  
}


#skills .toggle-details {
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 10px;
  color: blue;
}

#night-mode-switch {
  box-shadow: rgba(255, 255, 255, 0.511) 0px 22px 70px 4px;
  background-color: rgb(251, 251, 251);
  color: rgb(45, 49, 156);
  border: none;
  padding: 10px 11px;
  margin-bottom: -5%;
  margin-right: 0%;
  border-radius: 30px;
}
#night-mode-switch:hover {
  transform: scale(1.05);
  filter: contrast(120%);
}

#night-mode-switch.clicked {
  background-color: rgba(32, 39, 115, 0.9);
  color: lightgray;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 12px;
}

#night-mode-switch.clicked:hover {
  transform: scale(1.05);
  filter: brightness(120%);
}

/*img button arrow to the top */

#scroll-to-top {
  background-color: #e50914;
  border: none;
  outline: none;
  cursor: pointer;
}

#scroll-to-top img {
  
  width: 100px;
  height: 100px;
}

.pulse {
  margin-bottom: 3%;
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(5);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.185);
  }
  
  70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 99, 71, 0);
  }
  
  100% {
      transform: scale(1.2);
      box-shadow: 0 0 0 0 rgba(255, 99, 71, 0);
  }
}


/* Style the slider container */
.slider-container {
  width: 85%;
  height: 60%;
  display: fixed;
  
}

/* Style the slider slides main source to centralize the images inside op popup  */
.swiper-slide .img-container {
  position: relative;
  padding-top: 20%;
  margin-left: 50%;
  width: 50%;
  height: 100%;
  margin-right: 50%;
  box-shadow: rgba(37, 36, 36, 0.517) 0px 22px 70px 4px;
}

.swiper-slide img {
  height: 50%;
  width: 50%;
  object-fit: contain;
  direction: horizontal !important;
  
}

.details {
  position: group;
  bottom: 0%;
  left: 0;
  right: 0;
  height: 0%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  color: #fff;
  padding: 0px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}






.img-container:hover .details {
  opacity: 1;
  
}

.bio {
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

.link {
  font-size: 16px;
  color: #e50914;
  text-decoration: none;
}

#scroll-to-top{
  border-radius: 15%;
  background-color: #e4e5de00;
  
}


#scroll-to-top:hover {
 
  shape-outside:polygon(5);
  background-color: rgba(191, 194, 190, 0);
  margin-bottom: 3%;
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  10% {
    transform: scale(0.5);
    box-shadow: 0 0 0 0 rgba(229, 228, 228, 0);
  }
  
  50% {
      transform: scale(0.7);
      box-shadow: 0 0 0 10px rgba(255, 99, 71, 0);
  }
  
  90% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(255, 99, 71, 0);
  }
}





